<!DOCTYPE html>
<html>

<head>
    <title>Books</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">


</head>

<body>
    <header>
        <h1>
            Form
        </h1>
    </header>
    <main>
        <form action="/searches" method="post">
             <label>
                <span> Enter a title or author</span>
                <input name ="search " />
            </label>
            <label>
                <span> search by Title</span>
                <input type="radio" name="choose" value="title">

            </label>
            <label>
                <span> search by author</span>
                <input type="radio" name="choose" value="author">

            </label>

            <button>Search the Goolge Books API</button>
        </form>
    </main>
</body>

</html>