<!DOCTYPE html>
<html>
<head>
   <title>Books</title>
   <link rel="stylesheet" href="/styles/base.css">
  
</head>
<body>
    <header>
        <h1>
            Form
        </h1>
    </header>
    <main>
    <form >
        <label>
            <span> search by title</span>
            <input search by title= "search by title"/>
        </label>
        <label >
                <span> search by author</span>
                <input search by author= "search by author"/>
        </label>
        <button>search</button>
    </form>
</main>
</body>
</html>